.additionals {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
}

.block {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-size: var(--font-size-9pt);
  font-weight: 500;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 3px 0 10px 0;
}

.detname {
  font-size: var(--font-size-11pt);
  font-weight: 500;
}

.description {
  font-size: var(--font-size-9pt);
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
